@import url('https://fonts.googleapis.com/css2?family=Geomini:wght@200..800&family=Google+Sans:ital,opsz,wght,GRAD@0,17..18,400..700,51;1,17..18,400..700,51&display=swap');
/* General */
body {
    display: flex;
    flex-direction: column;
    font-family: "Google-Sans", sans-serif;
    margin: 0px;
    border: 0px;
}


/* Top-Section */   
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 3vw;
    background-color: rgb(31, 34, 46);
    color: rgb(0, 153, 255);
    box-shadow: 0px 0px 10px black;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

a:hover {
    transform: translateY(-5px);
    text-shadow: 0px 5px 7px rgb(255, 255, 255);
}

.pfp {
    height: 3rem;
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.landing_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
}

/* Bottom-Section */

#allrights {
    align-self: center;
}

#note {
    align-self: center;
}